<!doctype html>
<html>
    <head>
    <title>
      Gmail Clone
    </title>
<meta name="viewport" content="width=device-width,initial-scale=1">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/mystyle.css">

</head>
<body>




  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="row">

         <div class="col-md-2">
           <img src="../img/google-logo.png" class="logo">
         </div>

         
         <div class="col-lg-6 search">
           <div class="input-group">
             <input type="text" class="form-control" placeholder="Search for...">
               <span class="input-group-btn">
                 <button class="btn btn-default btn-search" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
               </span>
           </div>
         </div>

        </div>
      </div>
  </nav>

  <main>

      <div class="container-fluid">


        <div class="row border-bottom">

          <div class="col-md-2">
            <p class="gmail">Gmail</span></p>
          </div>

          <div class="col-md-6 no-padding top-bar">

             <div class="col-md-2 no-padding">
               <div class="box">
                <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
               </div>
             </div>


             <div class="col-md-2">
               <div class="box">
                <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
               </div>
             </div>

             <div class="col-md-2">
               <div class="box">
                  More
               </div>
             </div>

          </div>

           <div class="col-md-6 no-padding top-bar-hide">

             <div class="col-md-2 no-padding">
               <div class="box">
                <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
               </div>
             </div>


             <div class="col-md-2">
               <div class="box">
                <span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span>
               </div>
             </div>

             <div class="col-md-2">
               <div class="box">
                 Trash
               </div>
             </div>
             
          </div>

        </div>




        <div class="row">
          
          <div class="col-md-2">
            <button class="compose">Compose</button>
               <ul class="gmail-menu">
                 <li class="active">Inbox(44)</li>
                 <li>Sent Mail</li>
                 <li>Drafts (7)</li>
                 <li>All Mail</li>
                 <li>Spam</li>
               </ul>
          </div>


          <div class="col-md-10 no-padding">
              <ul class="list-group">

                 <li class="list-group-item">
                   <div class="row">
                     <div class="pull-left email-check">               
                       <input type="checkbox">
                     </div>
                     <div class="col-md-1">
                       Email 1
                     </div>
                     <div class="col-md-9">
                       <b>Re: Message</b> 
                     </div>
                     <div class="pull-right time">
                       <b>9:40 am</b> 
                     </div>
                   </div>                  
                 </li>

                 <li class="list-group-item">
                    <div class="row">
                     <div class="pull-left email-check">               
                       <input type="checkbox">
                     </div>
                     <div class="col-md-1">
                       Email 2
                     </div>
                     <div class="col-md-9">
                       <b>Re: Message</b> 
                     </div>
                     <div class="pull-right time">
                       <b>11:40 am</b> 
                     </div>
                   </div>    
                 </li>

                 <li class="list-group-item">
                    <div class="row">
                     <div class="pull-left email-check">               
                       <input type="checkbox">
                     </div>
                     <div class="col-md-1">
                       Email 3
                     </div>
                     <div class="col-md-9">
                       <b>Re: Message</b> 
                     </div>
                     <div class="pull-right time">
                       <b>5:40 pm</b> 
                     </div>
                   </div>    
                 </li>

                 <li class="list-group-item">
                    <div class="row">
                     <div class="pull-left email-check">               
                       <input type="checkbox">
                     </div>
                     <div class="col-md-1">
                       Email 4
                     </div>
                     <div class="col-md-9">
                       <b>Re: Message</b> 
                     </div>
                     <div class="pull-right time">
                       <b>3:40 pm</b> 
                     </div>
                   </div>     
                 </li>

                 <li class="list-group-item">
                    <div class="row">
                     <div class="pull-left email-check">               
                       <input type="checkbox">
                     </div>
                     <div class="col-md-1">
                       Email 5
                     </div>
                     <div class="col-md-9">
                       <b>Re: Message</b> 
                     </div>
                     <div class="pull-right time">
                       <b>1:40 pm</b> 
                     </div>
                   </div>    
                 </li>
              </ul>
          </div>
        
        </div>

  </main>

</div>
<script src="//code.jquery.com/jquery-2.1.1.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
  

</body>
</html>